<% new_id = Post.maximum("id").to_i - (@max_pages - params[:id].to_i) * 10 %>
<div>
    <% for id in 0..9 %>
        <% if Post.find_by(id:(new_id - id))%>
            <div style='padding: 10px 0;'>
                <%= render partial: "posts/post_pattern", locals: { id: (new_id - id)}%>
            </div>
        <% end %>
    <% end %>
    <% if params[:id].to_i != @max_pages %>
        <a class="btn btn-primary login-button" href=<%= "/#{params[:id].to_i + 1}"%>>Предыдущая</a>
    <% end %>
    <% if params[:id].to_i != 1 %>
        <a class="btn btn-primary login-button" href=<%= "/#{params[:id].to_i - 1}"%>>Следующая</a>
    <% end %>
</div>