<% new_id = Post.maximum("id").to_i - (@max_pages - params[:id].to_i) * 10 %>
<div>
    <% for id in 0..9 %>
        <% post = Post.find_by(id:(new_id - id))%>
        <% if post && post.can_open?%>
            <%= render partial: "posts/post_pattern", locals: { id: (new_id - id)}%>
        <% end %>
    <% end %>
    <% if params[:id].to_i != @max_pages %>
        <a class="btn btn-primary login-button" href=<%= "/#{params[:id].to_i + 1}"%>>Предыдущая</a>
    <% end %>
    <% if params[:id].to_i != 1 %>
        <a class="btn btn-primary login-button" href=<%= "/#{params[:id].to_i - 1}"%>>Следующая</a>
    <% end %>
    <% if params[:id].to_i == 1 %>
        <a class="btn btn-primary login-button" href=<%= main_path %>>Вернуться на главную</a>
    <% end %>
</div>