<% last_id = Post.maximum("id").to_i%>

<div>
    <% while last_id > 0 && Post.maximum("id").to_i - last_id < 10 %>
        <% post = Post.find_by(id:last_id)%>
        <% if post && post.can_open? %>
            <%= render partial: "posts/post_pattern", locals: { id: last_id}%>
        <% end %>
        <% last_id -= 1 %>
    <% end %>
    <a class="btn btn-primary login-button" href=<%= "/#{Post.maximum("id").to_i / 10}"%>>Следующая</a>
</div>